.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: 5%;
    border: 2px solid gainsboro
}

.form-register {
    width: 100%;
    max-width: 440px;
    padding: 15px;
    margin: auto;
    border: 2px solid gainsboro
}

header img {
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
}

.tv-show {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    color: purple;
    text-shadow: 1px 1px 1px rgb(79, 0, 79);

}